
@font-face {
  font-family: "merriweather-regular";
  src: url('../fonts/merriweather-regular-webfont.woff2') format('woff2'),
       url('../fonts/merriweather-regular-webfont.woff') format('woff');
  font-weight: regular;
  font-style: regular;
}
@font-face {
  font-family: "merriweather-italic";
  src: url('../fonts/merriweather-italic-webfont.woff2') format('woff2'),
       url('../fonts/merriweather-italic-webfont.woff') format('woff');
  font-weight: regular;
  font-style: italic;
}
/* @font-face {
    font-family: 'merriweatherblack';
    src: url('../fonts/merriweather-black-webfont.woff2') format('woff2'),
         url('../fonts/merriweather-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'merriweatherblack_italic';
    src: url('../fonts/merriweather-blackitalic-webfont.woff2') format('woff2'),
         url('../fonts/merriweather-blackitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'merriweatherbold';
    src: url('../fonts/merriweather-bold-webfont.woff2') format('woff2'),
         url('../fonts/merriweather-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'merriweatherbold_italic';
    src: url('../fonts/merriweather-bolditalic-webfont.woff2') format('woff2'),
         url('../fonts/merriweather-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'merriweatherlight';
    src: url('../fonts/merriweather-light-webfont.woff2') format('woff2'),
         url('../fonts/merriweather-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'merriweatherlight_italic';
    src: url('../fonts/merriweather-lightitalic-webfont.woff2') format('woff2'),
         url('../fonts/merriweather-lightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
} */

@font-face {
  font-family: "poppins-regular";
  src: url('../fonts/poppins-regular-webfont.woff2') format('woff2'),
       url('../fonts/poppins-regular-webfont.woff') format('woff');
  font-weight: regular;
  font-style: regular;
}

@font-face {
  font-family: "poppins-bold";
  src: url('../fonts/poppins-bold-webfont.woff2') format('woff2'),
       url('../fonts/poppins-bold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: regular;
}
/* @font-face {
    font-family: 'poppinsblack';
    src: url('../fonts/poppins-black-webfont.woff2') format('woff2'),
         url('../fonts/poppins-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'poppinsblack_italic';
    src: url('../fonts/poppins-blackitalic-webfont.woff2') format('woff2'),
         url('../fonts/poppins-blackitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'poppinsbold_italic';
    src: url('../fonts/poppins-bolditalic-webfont.woff2') format('woff2'),
         url('../fonts/poppins-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'poppinsitalic';
    src: url('../fonts/poppins-italic-webfont.woff2') format('woff2'),
         url('../fonts/poppins-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'poppinsmedium';
    src: url('../fonts/poppins-medium-webfont.woff2') format('woff2'),
         url('../fonts/poppins-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'poppinsmedium_italic';
    src: url('../fonts/poppins-mediumitalic-webfont.woff2') format('woff2'),
         url('../fonts/poppins-mediumitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'poppinsthin';
    src: url('../fonts/poppins-thin-webfont.woff2') format('woff2'),
         url('../fonts/poppins-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'poppinsthin_italic';
    src: url('../fonts/poppins-thinitalic-webfont.woff2') format('woff2'),
         url('../fonts/poppins-thinitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
} */

/* width */

::-webkit-scrollbar {
  width: 2px;
}

/* Track */

::-webkit-scrollbar-track {
  background: #d6d6d6;
  ;
}

/* Handle */

::-webkit-scrollbar-thumb {
  background: #000;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
  color: rgb(0, 71, 171);
}

/* ==========================================================================
   Custom medias definitions
   ========================================================================== */

@custom-media --mobile only screen and (max-width: 767px);
@custom-media --mobile-landscape only screen and (max-width: 767px) and (orientation: landscape);
/* ==========================================================================
   Variables
   ========================================================================== */

:root {
  --dark-blue: #4a707a;
  --medium-blue: #7697a0;
  --light-blue: #94b0b7;
  --sand-grey: #c2c8c5;
  --plain-grey: #ddddda;
}

body {
  font-family: "poppins-regular", sans-serif ;
  font-size: 1.4em !important;
  padding: 0px;
  margin: 0px !important;
  line-height: 1.2em;
  height: 100% !important;
  overflow: hidden;
}

p {
  margin: 0;
  font-family: "merriweather-regular", serif;
}

a {
  text-decoration: none;
  color: inherit;
  border: 0px solid black;
  font-size: 1em;
  border-bottom: 1px dotted;
}

a:hover{
  text-decoration: none;
  color: inherit;
}


h1 a, h2 a, h3 a, h4 a, h5 a, h6 a, li a{
  border-bottom: none;
}


ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}


/* ------------------------------------------
  RESPONSIVE NAV STYLES
--------------------------------------------- */

.nav-collapse ul {
  margin: 0;
  padding: 0;
  display: inline-block;
  list-style: none;
  width: 300px;
  clear: right;
  float: left;
}

.nav-collapse li {
  /* display: inline-block; */
}

.js .nav-collapse {
  clip: rect(0 0 0 0);
  max-height: 0;
  position: absolute;
  display: block;
  overflow: hidden;
  zoom: 1;
}

.nav-collapse.opened {
  max-height: 9999px;
}

.disable-pointer-events {
  pointer-events: none !important;
}

.nav-toggle {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  display: block;
  width: 70px;
  height: 55px;
  float: right;
  margin: 0 -2em 1em 0;
  text-indent: -9999px;
  overflow: hidden;
  background: #444 url("../icons/hamburger.gif") no-repeat 50% 33%;
}

.secondaryitem{
  font-size: 0.8em;
  margin-left: -20px;
}

.secondaryitem::before{
  content: "— ";
}

.secondaryitem.structuralli::before{
  content: "";
}


nav ul {
  list-style-type: none;
  position: relative;
  height: 84px;
  -webkit-transition: height 284ms 0s;
  transition: height 284ms 0s;
  width: 100%;
}

/* nav ul:hover{
  height: 300px;
} */

nav:hover{
  height: 300px;
}

nav ul ul{
}

nav ul ul li{
  display: block;
}

nav ul li {
  width: auto;
  margin-right: 40px;
  padding-left: 180px;
  width: 100%;
}

nav ul li:nth-of-type(1), ul.secondary li:nth-of-type(2){
  margin-top: 40px;
  margin-bottom: 40px;
  width: auto;
}

ul.secondary li:nth-of-type(3){
  margin-top: 40px;
  margin-bottom: 40px;
  width: 10px;
}

nav ul li::before {
  content: "";
}

nav li a {
  text-decoration: none;
  color: inherit;
  border: 0px solid black;
  font-size: 1em;
  font-family: "poppins-bold"
}

ul.secondary{
  float: right;
  width: 450px;
}

ul.secondary li{
  padding-left: 0px;
}

ul.secondary li:nth-of-type(2){
}

nav li.secondary{
  float: right;
}

nav li.secondary a.button{
  color: white;
  background-color: var(--medium-blue);
  border-radius: 200px;
  padding: 7px;
}

nav li a:hover {
  color: var(--light-blue);
}

ul.secondary p{
  font-size: 0.6em;
  clear: both;
  float: right;
  line-height: 1.1em;
  margin-top: 8em;
  margin-right: 1em;
  font-family: "poppins-regular";
}

a.home{
  position: fixed;
  top: 11px;
  left: 10px;
  width: 100px;
  z-index: 4;
  text-decoration: none;
  border: none;
}

img.opi {
  width: 100%;
}

#container {
  /* margin: 0px 20px; */
  border-left: 2px solid;
  border-right: 2px solid;
  height: 92%;
  position: absolute;
  display: flex;
  flex-direction: column;
  /* z-index: -1; */
}

main {
  display: flex;
  flex-direction: row;
  flex: 1 0;
  overflow: hidden;
  display: flex;
}

.top{
  top: 0pt;
  clear: both;
  width: 100%;
  height: auto;
  display: block;
}


#menu{
  clear: both;
}

.left {
  display: flex;
  clear: both;
  flex-direction: column;
  height: 100%;
  flex: 1 0;
}

.right {
  display: flex;
  flex-direction: row;
  flex: 2 0;
  height: 100%;
}

#prolog, .about, .partners, .pad, .contact {
  padding: 50px
}

#prolog, .about {
  background: var(--dark-blue);
  overflow-y: auto;
  color: white;
}

@keyframes slider-lg {
 0%{
   background-image: url(../img/image1.jpg);
   /* background-size: 100% 100%; */
 }
 25%{
   background-image: url(../img/opvii2.png);
   /* background-size: 100% 100%; */
 }
 50%{
   background-image: url(../img/opvii3.png);
   /* background-size: 100% 100%; */
 }
 75%{
   background-image: url(../img/timeseries2.jpg);
   /* background-size: 100% 100%; */
 }
}

#prolog {
  flex: 1 0;
  color: #ff3f00;
  background-image: url(../img/image1.jpg);
  /* animation-name: slider-lg; */
  animation-delay: 2.5s;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  /* animation-timing-function: ease-in-out; */
  animation-fill-mode: none;
  animation-timing-function: steps(1, end);
  -webkit-animation-timing-function: steps(1, end);
  background-repeat: no-repeat;
  background-size: cover;
  border-top: 2px solid black;
  background-color: white;
  background-position: center bottom;
}

.about {
  flex: 1 0;
}

h1.intro{
  font-family: "poppins-bold";
  font-size: 1.7em;
}
p.intro {
  font-family: "merriweather-regular";
  font-size: 1em;
  line-height: 1.4em;
}

.agenda {
  overflow-y: auto;
  flex: 2 0;
  border-top: 2px solid;
}

blockquote {
  font-family: "";
  font-weight: bold;
  line-height: 0.9em;
  font-size: 1.7em;
  margin: 15px 40px;
}

blockquote+p, .project-infos+blockquote {
  margin-top: 24pt;
}

.project {
  padding: 20px;
  /* padding-bottom: 27px; */
  border-bottom: 2px solid black;
  clear: both;
  margin: 30px;
  margin-bottom: 37px;
  padding-bottom: 45px;
}

.project.article h1{
  font-family: "poppins-bold";
  font-size: 2.1em;
}
.project.article h2{
  font-family: "poppins";
  line-height: 1.4em;
}
.project.article div h2, .project.article div h3, .project.article div h4, .project.article div h5, .project.article div p {
  width: 60%;
}

.project.article header{
  width: 60%;
}

.project.article p{
  font-size: 0.85em;
  margin-top: 24px;
}

.project.article ul{
  margin-top: 12px;
  margin-bottom: 12px;
}

.project.article li{
  font-size: 0.8em;
}

.project.article figcaption{
  font-family: "poppins-regular";
  clear: both;
  width: 50%;
  font-size: 0.6em;
}

.project.article figcaption::before{
  content: "↑";
  margin-right: 10px;
}
.project.article li::before{
  content: "—";
  margin-right: 4px;
}

.project.article img{
  clear: both;
  float: right;
  width: 30%;
  margin-bottom: 20px;
}

.project.article img.in-body{
  clear: both;
  float: left;
  width: 60%;
  margin-bottom: 20px;
}

.project.article img.in-body-half{
  clear: both;
  float: left;
  width: 30%;
  margin-bottom: 20px;
}


.project.article img.thumb{
  clear: both;
  float: right;
  width: 20%;
  margin-right: 10%;
  margin-bottom: 20px;
}

img.project-hero{
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* TOC */

#toc {
  padding-top: 90px;
}

#toc ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#toc li {
  margin-top: 15px;
}

#toc li::before {
  /* content: "―"; */
}

#toc a {
    color: #fff;
    text-decoration: none;
    display: block;
}

#toc .h1 {
    font-family: "poppins-bold";
    font-size: 2em;
    font-weight: bold;
    line-height: 1.2;
}

#toc .h2 {
    /* padding-left: 20px; */
}
#toc .h2::before {
  content: "-";
  float: left;
  margin-right: 4px;
}
#toc .h2::first-line{
  margin-left: -5px;
}

#toc .h3 {
    padding-left: 20px;
}

#toc .h4 {
    padding-left: 40px;
}

#toc .toc-active {
}



#detail-container {
  padding: 30px;
  border-bottom: 0px solid black;
}

.section-title, .project-detail-date, .project-infos {
  font-size: 1.7em;
  font-weight: bold;
  font-family: "poppins-bold";
  line-height: 1.1em;
}

.project-infos {
  font-size: 1em;
  line-height: 1em;
}

#detail-container p.section-title{
  margin-top: 20px;
}

#detail-container p.project-title {
  color: var(--medium-blue);
  text-transform: none;
  margin-top: 10px;
}

#detail-container p.project-exerpt {
  font-family: poppins;
  font-size: 0.6em;
  line-height: 1.4em;
  margin-top: 10px;
}

#detail-container p.read-more-link{
  font-family: poppins;
  color: black;
  font-size: 0.8em;
  margin-bottom: 40px;
}


.project-title, .project-detail-title {
  font-size: 1em;
  font-family: 'poppins-bold';
  color: var(--dark-blue);
  line-height: 1.3em;
  text-transform: uppercase;
  /* color: black; */
  font-weight: bold;
  letter-spacing: 0.025em;
}

.project-detail-schedule {
  border-top: 2px solid white;
  padding: 20px 30px;
}

#detail-container .project-detail-footer {
  border-top: 2px solid white;
}

#detail-container div.project-detail-schedule+div.project-detail-footer {
  background-color: var(--orange-karel);
  color: white;
}

#detail-container .project-detail-header, #detail-container .project-detail-footer {
  padding: 20px 30px;
}

.project-exerpt {
  font-weight: normal;
  font-size: 0.8em;
}

/* event activated */

.agenda .event.active {
  color: var(--bleu-bille);
  border-color: var(--bleu-bille);
}

.project-detail, .project-infos {
  display: none;
}

#detail-container {
  flex: 1 0;
  display: block;
  overflow-y: auto;
  background-color: var(--sand-grey);
  color: black;
  border-top: 2px solid;
}

#detail-container .event.active .project-detail, #detail-container .project-infos {
  display: block;
}

#detail-container .event.active .project-exerpt, #detail-container .event.active img.project-image, #detail-container .event.active .button-header {
  display: none;
}

p+.project-detail-date {
  margin-top: 12pt;
}

#detail-container .event.active .project-title {
  color: inherit;
}

#detail-container .event:before {
  display: none;
}

.project-detail p {
  padding-left: 0px;
}

.project-detail p.project-infos, .project-detail p.project-detail-date {
  padding-left: 0px;
}

#detail-container .close-button {
  display: none;
  position: fixed;
  top: 20px;
  right: 20px;
  font-size: 125%;
}

nav i.fa{
  display: none;
}

nav i.fa.keep{
  display: block;
}

.height-unlimited{
  max-height: none;
  overflow: hidden;
  position: relative;
  /* transition: all 1s; */
}
.height-limited{
  max-height: 96px;
  overflow: hidden;
  position: relative;
  /* transition: all 1s; */
}
.height-limited .read-more{
  position: absolute;
  bottom: 0;
  left: 0;
  top: 10px;
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 0;
  background-image: linear-gradient(to bottom, transparent, white);
}
.height-unlimited .read-more{
 position: absolute;
 bottom: 0;
 left: 0;
 top: 0;
 width: 100%;
 text-align: center;
 margin: 0;
 padding: 0;
 background-image: none;
}
a.read-more-button{
  margin-top: 30px;
  padding: 5px;
  position: absolute;
  bottom: -5px;
  width: 100%;
  left: 0;
  color: var(--dark-blue);
}

@media screen and (max-width: 1330px) {
  ul.secondary{
    width: 20%;
  }
  nav li.secondary{
    float: left;
  }
  .nav-collapse ul{
    width: 240px;
  }
  nav ul li{
    padding-left: 140px;
  }
}

@media screen and (min-width: 1030px) {
  .js .nav-collapse {
    position: relative;
  }
  .js .nav-collapse.closed {
    max-height: none;
  }
  .nav-toggle {
    display: none;
  }
}
@media screen and (min-width: 767px) and (max-width:1650px) {
  div.about{
    padding:20px;
  }
  div.about h1{
    margin-top: -12px;
    margin-bottom: 0px;
  }
  div.about p.intro{
    font-size:0.8em;
    line-height: 1.2em;
  }
  div.project{
    margin: 0px !important;
  }
  div#detail-container{
    padding: 15px;
  }
  ul.secondary{
    width: auto;
    position: absolute;
    right: 10px;
  }
  ul.secondary li{
    margin-right: 20px;
  }
  ul.secondary li:nth-of-type(1) span{
    display: none !important;
  }
  ul.secondary li:nth-of-type(2) a{
    padding: 0px;
    color: black;
  }
  ul.secondary li:nth-of-type(2) a:hover{
    color: var(--dark-blue)
  }
  ul.secondary li:nth-of-type(2) span{
    display: none !important;
  }
  p.menu-footer{
    display: none;
  }
  i.fa{
    display: block !important;
    font-size: 1em;
  }
  aside.left{
    flex: 0.7 0;
  }
}

@media only screen and (max-width: 1030px) {
  body {
    font-size: 1.1em;
    overflow: auto;
  }

  .read-more-button{
    display: none;
  }

  .height-limited{
    max-height: none;
  }

  .height-limited .read-more{
    height: auto;
    background-image: none;
  }

  nav {
    top: 70px;
    position: fixed;
    width: 95%;
    background: white;
    height: 260px;
    width: 100%;
    border-bottom: 2px solid;
    height: auto;
    padding-bottom: 60px;
  }

  li.secondaryitem{
    display: none !important;
  }

  img.logo{
    clear: both;
    margin: 0 auto;
  }

  a.nav-toggle{
    position: fixed;
    top: 15px;
    right: 50px;
    z-index: 4;
    border-bottom: none;
  }

  nav ul {
    /* margin-top: 15px; */
    display: block;
    clear: both;
    text-align: center;
    width: 100%;
    height: 40px;
  }
  nav ul li {
    margin-right:0px;
    display: block;
    clear: both;
    margin-top: 20px;
  }

  nav ul:nth-of-type(1){
    margin-top: 40px;
  }
  nav ul:last-of-type{
    margin-bottom: 40px;
    display: block;
    text-align: center;
    width: 100%;
  }

  nav ul li:nth-of-type(1), ul.secondary li:nth-of-type(2){
    padding-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    width: 100%;
  }

  .nav-collapse ul , .nav-collapse li{
    display: block;
  }

  .nav-collapse{
    min-height: 240px;
  }

  .nav-collapse ul{
    width: 100%;
  }

  p.menu-footer{
    display: none;
  }

  nav ul:hover{
    height: 40px;
  }

  nav li.secondary {
    display: block;
    float: left;
    width: 100%;
    padding-top: 12px;
    text-align: center;
}

  p.logo {
    width: 51px;
  }

  .top{
    display: none;
    border: 2px solid;
    clear: both;
    width: 100%;
    display: block;
    height: 79px;
    position: fixed;
    background-color: white;
    top: 0px;
    left: 0px;
    height: ;
    z-index: 2;
  }

  #container {
    border: 0px solid;
    display: block;
    height: initial;
  }

  main {
    flex-direction: column;
    flex: 2 0;
    border-left: 2px solid black;
    border-right: 2px solid black;
    overflow: initial;
  }

  .left {
    /* width: 95%; */
    border-right: 0px solid;
    border-bottom: 2px solid black;
    height: 55%;
    /* position: fixed; */
    background: white;
    flex-direction: row;
    display: block;
  }

  .right {
    overflow: initial;
    display: block;
    position: sticky;
    top: 160px;
    width: 100%;
  }

  .project.article h2, .project.article p{
    width: 100%;
    clear: both;
  }

  .project.article img{
    width: 60%;
    margin-left: 20%;
    clear: none;
    float: left;
    margin-bottom: 20px;
  }

  #prolog {
    border-right: 2px solid black;
    margin-top: 79px;
    position: sticky;
    flex: 1 0;
    height: 40vh;
  }

  .about {
    /* margin-top: 79px; */
    font-size: 0.8em;
    flex: 2 0;
    max-height: 40vh;
    border-top: 2px solid black;
    padding: 10px
  }

  .partners {
    border: 2px solid;
    border-top: 0px solid;
  }

  .project {
    padding: 10px;
    /* padding-bottom: 27px; */
    border-bottom: 2px solid black;
    clear: both;
    margin: 10px;
    margin-bottom: 10px;
    padding-bottom: 20px;
  }

  .project-exerpt {
    /* display: none; */
  }

  .agenda {
    overflow: initial;
  }

  #detail-container {
  }

  /*
    Hide other containers, hide scroll on body
  */

  body.project-active-through-click {
    overflow: hidden;
  }

  body.project-active-through-click nav {
    z-index: 0;
  }

  .project-active-through-click #detail-container {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    overflow: auto;
  }

  img.project-image {
    max-height: 3em;
  }

  #detail-container .close-button {
    display: block;
  }
}
